## Deliverable 3. Create a Travel Itinerary Map.

In [54]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets
import numpy
# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [17]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,4,Puerto Ayora,EC,76.96,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
1,29,Victoria,HK,81.18,clear sky,22.2855,114.1577,Mini Hotel Central
2,31,Sola,VU,82.56,clear sky,-13.8833,167.5500,Leumerus Bungalows
3,35,Nabire,ID,77.70,overcast clouds,-3.3667,135.4833,Hotel Nusantara I
4,40,Talaja,IN,85.62,clear sky,21.3500,72.0500,Tofik Memon

In [18]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]



# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

vacation_df.dtypes

City_ID                  int64
City                    object
Country                 object
Max Temp               float64
Current Description     object
Lat                    float64
Lng                    float64
Hotel Name              object
dtype: object

In [19]:
# 4a. Add a marker layer for each city to the map.

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
# locations = hotel_df[["Lat", "Lng"]]
# max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
#              max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
vac_start = str(input("Where would you like your vacation to start / end? "))
vac_stop1 = str(input("Select 1st stop "))
vac_stop2 = str(input("Select 2nd stop "))
vac_stop3 = str(input("Select 3rd stop "))

Where would you like your vacation to start / end? Roma
Select 1st stop Bethel
Select 2nd stop Westport
Select 3rd stop Charlottesville

In [71]:
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
# Filter the dataset to find the cities that fit the criteria.
# preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
#                                        (city_data_df["Max Temp"] >= min_temp)]
vacation_start = vacation_df.loc[(vacation_df['City']== vac_start)]
vacation_end = vacation_df.loc[(vacation_df['City']== vac_start)]
vacation_stop1 = vacation_df.loc[(vacation_df['City']== vac_stop1)]
vacation_stop2 = vacation_df.loc[(vacation_df['City']== vac_stop2)] 
vacation_stop3 = vacation_df.loc[(vacation_df['City']== vac_stop3)] 
vacation_stop3.dtypes

City_ID                  int64
City                    object
Country                 object
Max Temp               float64
Current Description     object
Lat                    float64
Lng                    float64
Hotel Name              object
dtype: object

In [98]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.to_numpy()
end = start
stop1 = vacation_stop1.to_numpy()
stop2 = vacation_stop2.to_numpy()
stop3 = vacation_stop3.to_numpy()

start_tup = start[0,5] , start[0,6]
end_tup = end[0,5] , end[0,6]
stop1_tup = stop1[0,5] , stop1[0,6]
stop2_tup = stop2[0,5] , stop2[0,6]
stop3_tup = stop3[0,5] , stop3[0,6]

In [58]:
travel_mode_input = str(input("Select Travel Mode: DRIVING / BICYCLING / WALKING "))

Select Travel Mode: DRIVING / BICYCLING / WALKING DRIVING

In [99]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
directions = gmaps.directions_layer(
        start_tup, end_tup, waypoints=[stop1_tup, stop2_tup, stop3_tup],
        travel_mode= travel_mode_input)
fig.add_layer(directions)
fig

Figure(layout=FigureLayout(height='420px'))

In [101]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,702,Roma,US,77.14,broken clouds,43.2128,-75.4557,Wingate By Wyndham Rome
1,114,Bethel,US,76.35,clear sky,41.3712,-73.4140,Courtyard by Marriott Danbury
2,128,Westport,US,75.42,overcast clouds,41.1415,-73.3579,The Inn at Longshore
3,257,Charlottesville,US,77.41,clear sky,38.0293,-78.4767,Hilton Garden Inn Charlottesville

In [102]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [103]:
# 11a. Add a marker layer for each city to the map.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))